<div class="container">
    <h2>Listado de tareas</h2><br/>
    <h2>Bienvenidos a mi web de prueba: {{nombre}}</h2><br/>
    <form [formGroup]="formGroup" (ngSubmit)="addItem()">
      <div class="form-group row">
        <label for="inputTarea" class="col-sm-1 col-form-label">Tarea</label>
    <div class="col-sm-7">
      <input type="tarea" class="form-control" formControlName="tarea" id="inputTarea" placeholder="Tarea">
    </div>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Agregar</button>
  </div>
      </div>
    
    </form>
    <!-- esto se va a fusionar con la rama main -->
  </div>
